body{
	background-image: url("14a.jpg");
	background-size: cover;
	cursor: pointer;
	background-color: #882D60;
	margin: 0px;
}
h1{
	color:#882D60;
}
p{
	text-decoration: underline;
	text-transform: uppercase;
	line-height: 20px;
	font-style: italic;
	font-weight: bold;
	font-size: 80%;
	font-family: poiret one, cursive;
}

img {
     width: 450px;
     height: 300px;
     margin: 10px;
     transition: all 4s;
}

img:hover {
	transform: scale(1.1);
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
h1{
	font-family: Arial;
	font-size: 5em;
	border-bottom: 2px solid pink;
	width: 700px;
	text-align: center;
	-moz-box-shadow: 4px 4px 5px #888888;
	-ms-box-shadow: 4px 4px 5px #888888;
	-webkit-box-shadow: 4px 4px 5px #888888;
	-o-box-shadow: 4px 4px 5px #888888;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 5px;
}

